
# Created by https://www.gitignore.io/api/linux,macos,windows,netbeans,codeigniter,visualstudiocode

### CodeIgniter ###
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

### CodeIgniter Patch ###
#codeigniter 3

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk




# End of https://www.gitignore.io/api/linux,macos,windows,netbeans,codeigniter,visualstudiocode

# git ftp
.git-ftp-ignore
inoweb_dpkgpr-20180520.sql


# adminer
adminer-4.6.3-mysql-en.php
i.php
/assets/file/foto/1.jpg
/assets/file/foto/2.jpg
/assets/file/foto/3x4_yasin_warna.jpg
/assets/file/foto/3x4_yasin_warna1.jpg
/assets/file/foto/3x4_yasin_warna2.jpg
/assets/file/foto/3x4_yasin_warna3.jpg
/assets/file/foto/4.jpg
/assets/file/foto/11.jpg
/assets/file/foto/12.jpg
/assets/file/foto/13.jpg
/assets/file/foto/14.jpg
/assets/file/foto/15.jpg
/assets/file/foto/16.jpg
/assets/file/foto/17.jpg
/assets/file/foto/18.jpg
/assets/file/foto/19.jpg
/assets/file/foto/21.jpg
/assets/file/foto/0043.jpg
/assets/file/foto/0080.JPG
/assets/file/foto/0081.JPG
/assets/file/foto/0083.JPG
/assets/file/foto/092_-_ABIDIN_-_AB.JPG
/assets/file/foto/0093.JPG
/assets/file/foto/093_-_ACHMAD_SURYANA_HIDAYAT_-_O.JPG
/assets/file/foto/094_-_ADENG_ISYANA_-_B.JPG
/assets/file/foto/095_-_AGUNG_BUDIMAN_-_A.JPG
/assets/file/foto/096_-_AHMAD_DAYLAMI_FIRDAUS_-_O.JPG
/assets/file/foto/097_-_AHMAD_FAUZI.JPG
/assets/file/foto/098_-_AHMAD_SARWANI_-_B.JPG
/assets/file/foto/099_-_ANGGA_DWI_SUNDAWA_-_O.JPG
/assets/file/foto/100_-_ANINDITA_APSARI_-_B.JPG
/assets/file/foto/101_-_AWALUDDIN_HARRY_FAHLEVI_-_AB.JPG
/assets/file/foto/102_-_BELLA_KARTIKADIANA.JPG
/assets/file/foto/103_-_BHASKORO_ADHY_PRATAMA_-_O.JPG
/assets/file/foto/0104.jpg
/assets/file/foto/104_-_DIAZ_DAMARA_PUTRA_-_B.JPG
/assets/file/foto/105_-_DONI_PRAYOGA_TAMA_-_B.JPG
/assets/file/foto/106_-_DWI_PRIHASTU_-_O.JPG
/assets/file/foto/107_-_ERLINA_LIASTUTI_-_A+.JPG
/assets/file/foto/108_-_ERMAWAN_-_O.JPG
/assets/file/foto/109_-_FAUZIAH_-_AB+.JPG
/assets/file/foto/110_-_HANDI_KURNIAWAN_-_AB.JPG
/assets/file/foto/111_-_HANI_AL_HAZANI_-_A.JPG
/assets/file/foto/0112.JPG
/assets/file/foto/112_-_HOIRUL_ANWAR.JPG
/assets/file/foto/113_-_IAR_FIRDIANSYAH.JPG
/assets/file/foto/115_-_IMAM_MAUSOFI_-_O.JPG
/assets/file/foto/0116.JPG
/assets/file/foto/116_-_ISRAN_AFANDI_-_O.JPG
/assets/file/foto/117_-_LISZA_AMIR_MAULANA_-_O.JPG
/assets/file/foto/117_-_LISZA_AMIR_MAULANA_-_O1.JPG
/assets/file/foto/117_-_LULU_DHIA_KHAIRUNNISA.JPG
/assets/file/foto/119_-_MARYANI_-_A+.JPG
/assets/file/foto/120_-_MOCHAMAD_ARBIANSYAH_-_O.JPG
/assets/file/foto/122_-_MUHAMMAD_NAUFAL_FARIS.JPG
/assets/file/foto/123_-_Mukhson_-_O_2.jpg
/assets/file/foto/124_-_NUR_FAQIH_WAJDI_MOEKTI_-_O.JPG
/assets/file/foto/125_-_OKKY_EGAR_IRIANSYAH_-_B.JPG
/assets/file/foto/126_-_OKTARIA_DWI_NUGGRAHA_-_O.JPG
/assets/file/foto/127_-_OSCAR_MULYADHI_NURFALAH_-_O.JPG
/assets/file/foto/128_-_PUTRI_NABHILA_-_B.JPG
/assets/file/foto/129_-_REZA_ERDWARSYAH_-_A.JPG
/assets/file/foto/131_-_REZHA_HAZMI_-_B.JPG
/assets/file/foto/132_-_SABRINA_SETIAWATI_-_O.JPG
/assets/file/foto/133_-_SADDAM_HUSAIN_-_O.JPG
/assets/file/foto/0134.JPG
/assets/file/foto/134_-_SEFTIAN_FATURACHMAN_-_O.JPG
/assets/file/foto/135_-_SINTA_DIANNI_-_O.JPG
/assets/file/foto/136_-_TARA_THALISTA_-_B.JPG
/assets/file/foto/137_-_TOMY_SUNGGORO_-_A.JPG
/assets/file/foto/138_-_ZAKIA_RAHMAH_-_B_-_2.jpg
/assets/file/foto/139_-_Zhico_Syukron_Merfis_2.jpg
/assets/file/foto/0141.jpg
/assets/file/foto/0143.JPG
/assets/file/foto/0148.JPG
/assets/file/foto/0151.JPG
/assets/file/foto/0168.JPG
/assets/file/foto/0176.JPG
/assets/file/foto/0178.JPG
/assets/file/foto/0194.JPG
/assets/file/foto/0200.JPG
/assets/file/foto/0201.JPG
/assets/file/foto/0205.jpg
/assets/file/foto/0206.JPG
/assets/file/foto/0208.JPG
/assets/file/foto/0211.JPG
/assets/file/foto/0213.JPG
/assets/file/foto/0217.JPG
/assets/file/foto/0221.JPG
/assets/file/foto/0222.JPG
/assets/file/foto/0228.JPG
/assets/file/foto/0229.jpg
/assets/file/foto/0236.JPG
/assets/file/foto/0242.JPG
/assets/file/foto/0254.JPG
/assets/file/foto/0255.JPG
/assets/file/foto/0256.JPG
/assets/file/foto/0258.jpg
/assets/file/foto/0265.JPG
/assets/file/foto/0268.JPG
/assets/file/foto/0278.jpg
/assets/file/foto/0282.jpg
/assets/file/foto/0293.JPG
/assets/file/foto/0297.JPG
/assets/file/foto/0317.JPG
/assets/file/foto/0319.JPG
/assets/file/foto/0325.JPG
/assets/file/foto/0333.JPG
/assets/file/foto/0334.JPG
/assets/file/foto/0354.jpg
/assets/file/foto/0355.JPG
/assets/file/foto/0356.JPG
/assets/file/foto/0365.JPG
/assets/file/foto/0369.JPG
/assets/file/foto/0370.JPG
/assets/file/foto/0375.JPG
/assets/file/foto/0379.JPG
/assets/file/foto/0380.JPG
/assets/file/foto/0381.jpg
/assets/file/foto/0386.jpg
/assets/file/foto/388_-_HALIDA_SRIKANDINI.JPG
/assets/file/foto/0390.jpg
/assets/file/foto/0510.JPG
/assets/file/foto/0515.JPG
/assets/file/foto/0519.jpg
/assets/file/foto/0520.JPG
/assets/file/foto/0526.jpg
/assets/file/foto/0528.jpg
/assets/file/foto/0529.JPG
/assets/file/foto/529_-_SITI_HABIBAH.JPG
/assets/file/foto/0534.JPG
/assets/file/foto/0538.JPG
/assets/file/foto/0540.JPG
/assets/file/foto/0541.JPG
/assets/file/foto/0542.JPG
/assets/file/foto/0545.JPG
/assets/file/foto/0553.JPG
/assets/file/foto/0554.JPG
/assets/file/foto/0562.JPG
/assets/file/foto/0563.JPG
/assets/file/foto/0564.JPG
/assets/file/foto/0565.JPG
/assets/file/foto/0566.JPG
/assets/file/foto/0567.JPG
/assets/file/foto/0568.JPG
/assets/file/foto/0571.JPG
/assets/file/foto/01161.JPG
/assets/file/foto/1398.JPG
/assets/file/foto/1399.JPG
/assets/file/foto/1401.JPG
/assets/file/foto/1403.JPG
/assets/file/foto/1404.JPG
/assets/file/foto/1412.JPG
/assets/file/foto/1415.JPG
/assets/file/foto/01511.JPG
/assets/file/foto/01781.JPG
/assets/file/foto/2417.JPG
/assets/file/foto/2419.JPG
/assets/file/foto/2420.JPG
/assets/file/foto/2425.JPG
/assets/file/foto/2426.JPG
/assets/file/foto/2430.JPG
/assets/file/foto/2431.JPG
/assets/file/foto/2435.JPG
/assets/file/foto/2437.jpg
/assets/file/foto/2438.JPG
/assets/file/foto/2440.JPG
/assets/file/foto/2444.jpg
/assets/file/foto/2454.JPG
/assets/file/foto/2455.JPG
/assets/file/foto/2456.JPG
/assets/file/foto/2472.JPG
/assets/file/foto/2473.JPG
/assets/file/foto/2483.jpg
/assets/file/foto/2484.jpg
/assets/file/foto/2487.JPG
/assets/file/foto/2488.JPG
/assets/file/foto/02541.JPG
/assets/file/foto/02551.JPG
/assets/file/foto/02781.jpg
/assets/file/foto/02782.jpg
/assets/file/foto/03331.JPG
/assets/file/foto/3503.jpg
/assets/file/foto/03801.JPG
/assets/file/foto/4504.jpg
/assets/file/foto/4506.JPG
/assets/file/foto/4508.JPG
/assets/file/foto/05531.JPG
/assets/file/foto/9004.jpg
/assets/file/foto/9026.jpg
/assets/file/foto/9027.jpg
/assets/file/foto/9028.JPG
/assets/file/foto/9029.JPG
/assets/file/foto/9030.JPG
/assets/file/foto/9032.JPG
/assets/file/foto/9034.JPG
/assets/file/foto/9036.JPG
/assets/file/foto/9037.JPG
/assets/file/foto/9038.JPG
/assets/file/foto/9039.jpg
/assets/file/foto/9047.JPG
/assets/file/foto/9053.JPG
/assets/file/foto/9094.JPG
/assets/file/foto/9098.JPG
/assets/file/foto/9100.JPG
/assets/file/foto/9102.JPG
/assets/file/foto/9105.JPG
/assets/file/foto/9107.JPG
/assets/file/foto/9113.JPG
/assets/file/foto/9119.JPG
/assets/file/foto/9120.JPG
/assets/file/foto/9122.JPG
/assets/file/foto/9124.JPG
/assets/file/foto/9127.JPG
/assets/file/foto/9135.JPG
/assets/file/foto/9138.jpg
/assets/file/foto/13981.JPG
/assets/file/foto/14151.JPG
/assets/file/foto/24251.JPG
/assets/file/foto/24252.JPG
/assets/file/foto/24253.JPG
/assets/file/foto/24254.JPG
/assets/file/foto/24255.JPG
/assets/file/foto/24561.JPG
/assets/file/foto/24831.jpg
/assets/file/foto/24832.jpg
/assets/file/foto/45081.JPG
/assets/file/foto/90391.jpg
/assets/file/foto/90471.JPG
/assets/file/foto/90531.JPG
/assets/file/foto/90532.JPG
/assets/file/foto/91001.JPG
/assets/file/foto/91021.JPG
/assets/file/foto/91022.JPG
/assets/file/foto/91051.JPG
/assets/file/foto/91191.JPG
/assets/file/foto/91192.JPG
/assets/file/foto/244759,1220441081,1.jpg
/assets/file/foto/a.JPG
/assets/file/foto/a1.JPG
/assets/file/foto/a2.JPG
/assets/file/foto/a3.jpg
/assets/file/foto/a4.jpg
/assets/file/foto/a5.jpg
/assets/file/foto/a6.jpg
/assets/file/foto/a7.jpg
/assets/file/foto/a8.jpg
/assets/file/foto/a9.jpg
/assets/file/foto/a10.jpg
/assets/file/foto/a11.jpg
/assets/file/foto/a12.jpg
/assets/file/foto/ardiyah.JPG
/assets/file/foto/Bambang.jpg
/assets/file/foto/d.jpg
/assets/file/foto/d1.jpg
/assets/file/foto/d2.jpg
/assets/file/foto/d3.jpg
/assets/file/foto/d4.jpg
/assets/file/foto/Dodi.JPG
/assets/file/foto/DSC_0001.JPG
/assets/file/foto/DSC_0002.JPG
/assets/file/foto/DSC_0003.JPG
/assets/file/foto/DSC_0004.JPG
/assets/file/foto/DSC_0005.JPG
/assets/file/foto/DSC_0006.JPG
/assets/file/foto/DSC_0007.JPG
/assets/file/foto/DSC_0008.JPG
/assets/file/foto/DSC_0009.JPG
/assets/file/foto/DSC_0010.JPG
/assets/file/foto/DSC_00011.JPG
/assets/file/foto/DSC_0011.JPG
/assets/file/foto/DSC_0012.JPG
/assets/file/foto/DSC_0013.JPG
/assets/file/foto/DSC_0014.JPG
/assets/file/foto/DSC_0015.JPG
/assets/file/foto/DSC_0016.JPG
/assets/file/foto/DSC_0017.JPG
/assets/file/foto/DSC_0018.JPG
/assets/file/foto/DSC_0019.JPG
/assets/file/foto/DSC_0020.JPG
/assets/file/foto/DSC_0021.JPG
/assets/file/foto/DSC_0023.JPG
/assets/file/foto/DSC_0024.JPG
/assets/file/foto/DSC_0026.JPG
/assets/file/foto/DSC_0027.JPG
/assets/file/foto/DSC_0028.JPG
/assets/file/foto/DSC_0029.JPG
/assets/file/foto/DSC_0030.JPG
/assets/file/foto/DSC_00031.JPG
/assets/file/foto/DSC_0031.JPG
/assets/file/foto/DSC_0032.JPG
/assets/file/foto/DSC_0033.JPG
/assets/file/foto/DSC_0034.JPG
/assets/file/foto/DSC_0035.JPG
/assets/file/foto/DSC_0036.JPG
/assets/file/foto/DSC_0037.JPG
/assets/file/foto/DSC_0038.JPG
/assets/file/foto/DSC_0039.JPG
/assets/file/foto/DSC_0039_(2).JPG
/assets/file/foto/DSC_0040.JPG
/assets/file/foto/DSC_00041.JPG
/assets/file/foto/DSC_0041.JPG
/assets/file/foto/DSC_00042.JPG
/assets/file/foto/DSC_0042.JPG
/assets/file/foto/DSC_0043.JPG
/assets/file/foto/DSC_0044.JPG
/assets/file/foto/DSC_0046.JPG
/assets/file/foto/DSC_0047.JPG
/assets/file/foto/DSC_0048.JPG
/assets/file/foto/DSC_0049.JPG
/assets/file/foto/DSC_0050.JPG
/assets/file/foto/DSC_00051.JPG
/assets/file/foto/DSC_0052.JPG
/assets/file/foto/DSC_0053.JPG
/assets/file/foto/DSC_0054.JPG
/assets/file/foto/DSC_0055.JPG
/assets/file/foto/DSC_0059.JPG
/assets/file/foto/DSC_00061.JPG
/assets/file/foto/DSC_0061.JPG
/assets/file/foto/DSC_0064.JPG
/assets/file/foto/DSC_0068.JPG
/assets/file/foto/DSC_00071.JPG
/assets/file/foto/DSC_0071.JPG
/assets/file/foto/DSC_0073.JPG
/assets/file/foto/DSC_0076.JPG
/assets/file/foto/DSC_0078.JPG
/assets/file/foto/DSC_0079.JPG
/assets/file/foto/DSC_0080.JPG
/assets/file/foto/DSC_00081.JPG
/assets/file/foto/DSC_0081.JPG
/assets/file/foto/DSC_0082.JPG
/assets/file/foto/DSC_0083.JPG
/assets/file/foto/DSC_0084.JPG
/assets/file/foto/DSC_0085.JPG
/assets/file/foto/DSC_0086.JPG
/assets/file/foto/DSC_0088.JPG
/assets/file/foto/DSC_0089.JPG
/assets/file/foto/DSC_0090.JPG
/assets/file/foto/DSC_00091.JPG
/assets/file/foto/DSC_00092.JPG
/assets/file/foto/DSC_0092.JPG
/assets/file/foto/DSC_00093.JPG
/assets/file/foto/DSC_0093.JPG
/assets/file/foto/DSC_0094.JPG
/assets/file/foto/DSC_0095.JPG
/assets/file/foto/DSC_0096.JPG
/assets/file/foto/DSC_0097.JPG
/assets/file/foto/DSC_0098.JPG
/assets/file/foto/DSC_0099.JPG
/assets/file/foto/DSC_0100.JPG
/assets/file/foto/DSC_00101.JPG
/assets/file/foto/DSC_0103.JPG
/assets/file/foto/DSC_0104.JPG
/assets/file/foto/DSC_0107.JPG
/assets/file/foto/DSC_0108.JPG
/assets/file/foto/DSC_0109.JPG
/assets/file/foto/DSC_0110.JPG
/assets/file/foto/DSC_00111.JPG
/assets/file/foto/DSC_0111.JPG
/assets/file/foto/DSC_0112.JPG
/assets/file/foto/DSC_0113.JPG
/assets/file/foto/DSC_0114.JPG
/assets/file/foto/DSC_0115.JPG
/assets/file/foto/DSC_0116.JPG
/assets/file/foto/DSC_0117.JPG
/assets/file/foto/DSC_0118.JPG
/assets/file/foto/DSC_0119.JPG
/assets/file/foto/DSC_0120.JPG
/assets/file/foto/DSC_00121.JPG
/assets/file/foto/DSC_0121.JPG
/assets/file/foto/DSC_0122.JPG
/assets/file/foto/DSC_0123.JPG
/assets/file/foto/DSC_0124.JPG
/assets/file/foto/DSC_00131.JPG
/assets/file/foto/DSC_0136.JPG
/assets/file/foto/DSC_0137.JPG
/assets/file/foto/DSC_0139.JPG
/assets/file/foto/DSC_0140.JPG
/assets/file/foto/DSC_00141.JPG
/assets/file/foto/DSC_0141.JPG
/assets/file/foto/DSC_0145.JPG
/assets/file/foto/DSC_0147.JPG
/assets/file/foto/DSC_0148.JPG
/assets/file/foto/DSC_00151.JPG
/assets/file/foto/DSC_0152.JPG
/assets/file/foto/DSC_0153.JPG
/assets/file/foto/DSC_0156.JPG
/assets/file/foto/DSC_0157.JPG
/assets/file/foto/DSC_0158.JPG
/assets/file/foto/DSC_00161.JPG
/assets/file/foto/DSC_0161.JPG
/assets/file/foto/DSC_0162.JPG
/assets/file/foto/DSC_00171.JPG
/assets/file/foto/DSC_0175.JPG
/assets/file/foto/DSC_0177.JPG
/assets/file/foto/DSC_0179.JPG
/assets/file/foto/DSC_0180.JPG
/assets/file/foto/DSC_00181.JPG
/assets/file/foto/DSC_0181.JPG
/assets/file/foto/DSC_0183.JPG
/assets/file/foto/DSC_0184.JPG
/assets/file/foto/DSC_0185.JPG
/assets/file/foto/DSC_0186.JPG
/assets/file/foto/DSC_0187.JPG
/assets/file/foto/DSC_0188.JPG
/assets/file/foto/DSC_0190.JPG
/assets/file/foto/DSC_00191.JPG
/assets/file/foto/DSC_0191.JPG
/assets/file/foto/DSC_0192.JPG
/assets/file/foto/DSC_0193.JPG
/assets/file/foto/DSC_0194.JPG
/assets/file/foto/DSC_0197.JPG
/assets/file/foto/DSC_0199.JPG
/assets/file/foto/DSC_00201.JPG
/assets/file/foto/DSC_0201.JPG
/assets/file/foto/DSC_0202.JPG
/assets/file/foto/DSC_0203.JPG
/assets/file/foto/DSC_0204.JPG
/assets/file/foto/DSC_0206.JPG
/assets/file/foto/DSC_0208.JPG
/assets/file/foto/DSC_0209.JPG
/assets/file/foto/DSC_00211.JPG
/assets/file/foto/DSC_0211.JPG
/assets/file/foto/DSC_0214.JPG
/assets/file/foto/DSC_0215.JPG
/assets/file/foto/DSC_0216.JPG
/assets/file/foto/DSC_0217.JPG
/assets/file/foto/DSC_0218.JPG
/assets/file/foto/DSC_0219.JPG
/assets/file/foto/DSC_0220.JPG
/assets/file/foto/DSC_0221.JPG
/assets/file/foto/DSC_0222.JPG
/assets/file/foto/DSC_0223.JPG
/assets/file/foto/DSC_0224.JPG
/assets/file/foto/DSC_0225.JPG
/assets/file/foto/DSC_0226.JPG
/assets/file/foto/DSC_0227.JPG
/assets/file/foto/DSC_0228.JPG
/assets/file/foto/DSC_0229.JPG
/assets/file/foto/DSC_0230.JPG
/assets/file/foto/DSC_00231.JPG
/assets/file/foto/DSC_0231.JPG
/assets/file/foto/DSC_0233.JPG
/assets/file/foto/DSC_0234.JPG
/assets/file/foto/DSC_0235.JPG
/assets/file/foto/DSC_0236.JPG
/assets/file/foto/DSC_0237.JPG
/assets/file/foto/DSC_0238.JPG
/assets/file/foto/DSC_0239.JPG
/assets/file/foto/DSC_0240.JPG
/assets/file/foto/DSC_00241.JPG
/assets/file/foto/DSC_0241.JPG
/assets/file/foto/DSC_0242.JPG
/assets/file/foto/DSC_0244.JPG
/assets/file/foto/DSC_0245.JPG
/assets/file/foto/DSC_0246.JPG
/assets/file/foto/DSC_0247.JPG
/assets/file/foto/DSC_0248.JPG
/assets/file/foto/DSC_0249.JPG
/assets/file/foto/DSC_0250.JPG
/assets/file/foto/DSC_0252.JPG
/assets/file/foto/DSC_0253.JPG
/assets/file/foto/DSC_0254.JPG
/assets/file/foto/DSC_0255.JPG
/assets/file/foto/DSC_0256.JPG
/assets/file/foto/DSC_0258.JPG
/assets/file/foto/DSC_0259.JPG
/assets/file/foto/DSC_0260.JPG
/assets/file/foto/DSC_00261.JPG
/assets/file/foto/DSC_0261.JPG
/assets/file/foto/DSC_0262.JPG
/assets/file/foto/DSC_0263.JPG
/assets/file/foto/DSC_0264.JPG
/assets/file/foto/DSC_0265.JPG
/assets/file/foto/DSC_0266.JPG
/assets/file/foto/DSC_0267.JPG
/assets/file/foto/DSC_0268.JPG
/assets/file/foto/DSC_0269.JPG
/assets/file/foto/DSC_0270.JPG
/assets/file/foto/DSC_00271.JPG
/assets/file/foto/DSC_0271.JPG
/assets/file/foto/DSC_0272.JPG
/assets/file/foto/DSC_0273.JPG
/assets/file/foto/DSC_0274.JPG
/assets/file/foto/DSC_0275.JPG
/assets/file/foto/DSC_0276.JPG
/assets/file/foto/DSC_0277.JPG
/assets/file/foto/DSC_0278.JPG
/assets/file/foto/DSC_0279.JPG
/assets/file/foto/DSC_0280.JPG
/assets/file/foto/DSC_00281.JPG
/assets/file/foto/DSC_0281.JPG
/assets/file/foto/DSC_00282.JPG
/assets/file/foto/DSC_0282.JPG
/assets/file/foto/DSC_00283.JPG
/assets/file/foto/DSC_0283.JPG
/assets/file/foto/DSC_0285.JPG
/assets/file/foto/DSC_0286.JPG
/assets/file/foto/DSC_0287.JPG
/assets/file/foto/DSC_0288.JPG
/assets/file/foto/DSC_0289.JPG
/assets/file/foto/DSC_0290.JPG
/assets/file/foto/DSC_00291.JPG
/assets/file/foto/DSC_0291.JPG
/assets/file/foto/DSC_00292.JPG
/assets/file/foto/DSC_0292.JPG
/assets/file/foto/DSC_0293.JPG
/assets/file/foto/DSC_0294.JPG
/assets/file/foto/DSC_0295.JPG
/assets/file/foto/DSC_0296.JPG
/assets/file/foto/DSC_0297.JPG
/assets/file/foto/DSC_0298.JPG
/assets/file/foto/DSC_0299.JPG
/assets/file/foto/DSC_0300.JPG
/assets/file/foto/DSC_0302.JPG
/assets/file/foto/DSC_0303.JPG
/assets/file/foto/DSC_0304.JPG
/assets/file/foto/DSC_0305.JPG
/assets/file/foto/DSC_0306.JPG
/assets/file/foto/DSC_0307.JPG
/assets/file/foto/DSC_0308.JPG
/assets/file/foto/DSC_0309.JPG
/assets/file/foto/DSC_0310.JPG
/assets/file/foto/DSC_0312.JPG
/assets/file/foto/DSC_0313.JPG
/assets/file/foto/DSC_0314.JPG
/assets/file/foto/DSC_0315.JPG
/assets/file/foto/DSC_0316.JPG
/assets/file/foto/DSC_0319.JPG
/assets/file/foto/DSC_0320.JPG
/assets/file/foto/DSC_00321.JPG
/assets/file/foto/DSC_0321.JPG
/assets/file/foto/DSC_0322.JPG
/assets/file/foto/DSC_0323.JPG
/assets/file/foto/DSC_0324.JPG
/assets/file/foto/DSC_0325.JPG
/assets/file/foto/DSC_0326.JPG
/assets/file/foto/DSC_0327.JPG
/assets/file/foto/DSC_0330.JPG
/assets/file/foto/DSC_00341.JPG
/assets/file/foto/DSC_00342.JPG
/assets/file/foto/DSC_00351.JPG
/assets/file/foto/DSC_00352.JPG
/assets/file/foto/DSC_00361.JPG
/assets/file/foto/DSC_00381.JPG
/assets/file/foto/DSC_00382.JPG
/assets/file/foto/DSC_00391.JPG
/assets/file/foto/DSC_00401.JPG
/assets/file/foto/DSC_00402.JPG
/assets/file/foto/DSC_00411.JPG
/assets/file/foto/DSC_00421.JPG
/assets/file/foto/DSC_00422.JPG
/assets/file/foto/DSC_00431.JPG
/assets/file/foto/DSC_00441.JPG
/assets/file/foto/DSC_00461.JPG
/assets/file/foto/DSC_00471.JPG
/assets/file/foto/DSC_00481.JPG
/assets/file/foto/DSC_00491.JPG
/assets/file/foto/DSC_00501.JPG
/assets/file/foto/DSC_00521.JPG
/assets/file/foto/DSC_00531.JPG
/assets/file/foto/DSC_00541.JPG
/assets/file/foto/DSC_00551.JPG
/assets/file/foto/DSC_00591.JPG
/assets/file/foto/DSC_00641.JPG
/assets/file/foto/DSC_00681.JPG
/assets/file/foto/DSC_00761.JPG
/assets/file/foto/DSC_00781.JPG
/assets/file/foto/DSC_00791.JPG
/assets/file/foto/DSC_00801.JPG
/assets/file/foto/DSC_00821.JPG
/assets/file/foto/DSC_00831.JPG
/assets/file/foto/DSC_00841.JPG
/assets/file/foto/DSC_00891.JPG
/assets/file/foto/DSC_00901.JPG
/assets/file/foto/DSC_00921.JPG
/assets/file/foto/DSC_00931.JPG
/assets/file/foto/DSC_00941.JPG
/assets/file/foto/DSC_00951.JPG
/assets/file/foto/DSC_00961.JPG
/assets/file/foto/DSC_01001.JPG
/assets/file/foto/DSC_01041.JPG
/assets/file/foto/DSC_01071.JPG
/assets/file/foto/DSC_01091.JPG
/assets/file/foto/DSC_01101.JPG
/assets/file/foto/DSC_01111.JPG
/assets/file/foto/DSC_01121.JPG
/assets/file/foto/DSC_01141.JPG
/assets/file/foto/DSC_01151.JPG
/assets/file/foto/DSC_01161.JPG
/assets/file/foto/DSC_01171.JPG
/assets/file/foto/DSC_01181.JPG
/assets/file/foto/DSC_01191.JPG
/assets/file/foto/DSC_01231.JPG
/assets/file/foto/DSC_01241.JPG
/assets/file/foto/DSC_01391.JPG
/assets/file/foto/DSC_01401.JPG
/assets/file/foto/DSC_01411.JPG
/assets/file/foto/DSC_01451.JPG
/assets/file/foto/DSC_01471.JPG
/assets/file/foto/DSC_01481.JPG
/assets/file/foto/DSC_01521.JPG
/assets/file/foto/DSC_01531.JPG
/assets/file/foto/DSC_01561.JPG
/assets/file/foto/DSC_01571.JPG
/assets/file/foto/DSC_01581.JPG
/assets/file/foto/DSC_01611.JPG
/assets/file/foto/DSC_01621.JPG
/assets/file/foto/DSC_01771.JPG
/assets/file/foto/DSC_01791.JPG
/assets/file/foto/DSC_01801.JPG
/assets/file/foto/DSC_01841.JPG
/assets/file/foto/DSC_01851.JPG
/assets/file/foto/DSC_01861.JPG
/assets/file/foto/DSC_01871.JPG
/assets/file/foto/DSC_01881.JPG
/assets/file/foto/DSC_01901.JPG
/assets/file/foto/DSC_01911.JPG
/assets/file/foto/DSC_01921.JPG
/assets/file/foto/DSC_01931.JPG
/assets/file/foto/DSC_01941.JPG
/assets/file/foto/DSC_01971.JPG
/assets/file/foto/DSC_01991.JPG
/assets/file/foto/DSC_02011.JPG
/assets/file/foto/DSC_02021.JPG
/assets/file/foto/DSC_02031.JPG
/assets/file/foto/DSC_02041.JPG
/assets/file/foto/DSC_02061.JPG
/assets/file/foto/DSC_02081.JPG
/assets/file/foto/DSC_02091.JPG
/assets/file/foto/DSC_02111.JPG
/assets/file/foto/DSC_02141.JPG
/assets/file/foto/DSC_02151.JPG
/assets/file/foto/DSC_02181.JPG
/assets/file/foto/DSC_02191.JPG
/assets/file/foto/DSC_02201.JPG
/assets/file/foto/DSC_02241.JPG
/assets/file/foto/DSC_02271.JPG
/assets/file/foto/DSC_02281.JPG
/assets/file/foto/DSC_02291.JPG
/assets/file/foto/DSC_02311.JPG
/assets/file/foto/DSC_02331.JPG
/assets/file/foto/DSC_02351.JPG
/assets/file/foto/DSC_02381.JPG
/assets/file/foto/DSC_02411.JPG
/assets/file/foto/DSC_02441.JPG
/assets/file/foto/DSC_02442.JPG
/assets/file/foto/DSC_02451.JPG
/assets/file/foto/DSC_02452.JPG
/assets/file/foto/DSC_02461.JPG
/assets/file/foto/DSC_02491.JPG
/assets/file/foto/DSC_02501.JPG
/assets/file/foto/DSC_02521.JPG
/assets/file/foto/DSC_02531.JPG
/assets/file/foto/DSC_02591.JPG
/assets/file/foto/DSC_02691.JPG
/assets/file/foto/DSC_02701.JPG
/assets/file/foto/DSC_02791.JPG
/assets/file/foto/DSC_02821.JPG
/assets/file/foto/DSC_02831.JPG
/assets/file/foto/DSC_02901.JPG
/assets/file/foto/DSC_02921.JPG
/assets/file/foto/DSC_02931.JPG
/assets/file/foto/DSC_02941.JPG
/assets/file/foto/DSC_02961.JPG
/assets/file/foto/DSC_02991.JPG
/assets/file/foto/DSC_03031.JPG
/assets/file/foto/DSC_03051.JPG
/assets/file/foto/DSC_03061.JPG
/assets/file/foto/DSC_03071.JPG
/assets/file/foto/DSC_03081.JPG
/assets/file/foto/DSC_03091.JPG
/assets/file/foto/DSC_03101.JPG
/assets/file/foto/DSC_03141.JPG
/assets/file/foto/DSC_03161.JPG
/assets/file/foto/DSC_03191.JPG
/assets/file/foto/DSC_03201.JPG
/assets/file/foto/DSC_03211.JPG
/assets/file/foto/DSC_03221.JPG
/assets/file/foto/DSC_03221_(1).JPG
/assets/file/foto/DSC_03241.JPG
/assets/file/foto/DSC_03251.JPG
/assets/file/foto/DSC_03261.JPG
/assets/file/foto/DSC_03271.JPG
/assets/file/foto/DSC_03301.JPG
/assets/file/foto/DSC_008411.JPG
/assets/file/foto/DSC_018511.JPG
/assets/file/foto/DSC_018611.JPG
/assets/file/foto/DSC_019011.JPG
/assets/file/foto/DSC_021511.JPG
/assets/file/foto/DSC_022011.JPG
/assets/file/foto/DSC_025211.JPG
/assets/file/foto/DSC_029011.JPG
/assets/file/foto/DSC_029411.JPG
/assets/file/foto/DSC_032411.JPG
/assets/file/foto/e.jpg
/assets/file/foto/e1.jpg
/assets/file/foto/eka.jpg
/assets/file/foto/f.jpg
/assets/file/foto/f1.jpg
/assets/file/foto/f2.jpg
/assets/file/foto/f3.jpg
/assets/file/foto/f4.jpg
/assets/file/foto/g.jpg
/assets/file/foto/g1.jpg
/assets/file/foto/g2.jpg
/assets/file/foto/g3.jpg
/assets/file/foto/h.jpg
/assets/file/foto/h1.jpg
/assets/file/foto/h2.jpg
/assets/file/foto/h3.jpg
/assets/file/foto/h4.jpg
/assets/file/foto/HARI-Biru.jpg
/assets/file/foto/herman.jpg
/assets/file/foto/i.JPG
/assets/file/foto/IMG_2469.JPG
/assets/file/foto/IMG_2469a.jpg
/assets/file/foto/IMG_2469a1.jpg
/assets/file/foto/IMG_2469b.jpg
/assets/file/foto/IMG_2469c.jpg
/assets/file/foto/IMG_2477_2.JPG
/assets/file/foto/IMG_2477_4.JPG
/assets/file/foto/IMG_2477_a.jpg
/assets/file/foto/IMG_3435.JPG
/assets/file/foto/IMG_3436.JPG
/assets/file/foto/IMG_3439.JPG
/assets/file/foto/IMG_3440.JPG
/assets/file/foto/IMG_3443.JPG
/assets/file/foto/IMG_3444.JPG
/assets/file/foto/IMG_3446.JPG
/assets/file/foto/IMG_3449.JPG
/assets/file/foto/IMG_3450.JPG
/assets/file/foto/IMG_3453.JPG
/assets/file/foto/IMG_3454.JPG
/assets/file/foto/IMG_3456.JPG
/assets/file/foto/IMG_3457.JPG
/assets/file/foto/IMG_3459.JPG
/assets/file/foto/IMG_3460.JPG
/assets/file/foto/IMG_3461.JPG
/assets/file/foto/IMG_3462.JPG
/assets/file/foto/IMG_3463.JPG
/assets/file/foto/IMG_3464.JPG
/assets/file/foto/IMG_3466.JPG
/assets/file/foto/IMG_3467.JPG
/assets/file/foto/IMG_3469.JPG
/assets/file/foto/IMG_3470.JPG
/assets/file/foto/IMG_3471.JPG
/assets/file/foto/IMG_3472.JPG
/assets/file/foto/IMG_3474.JPG
/assets/file/foto/IMG_3475.JPG
/assets/file/foto/IMG_3476.JPG
/assets/file/foto/IMG_3477.JPG
/assets/file/foto/IMG_3479.JPG
/assets/file/foto/IMG_3480.JPG
/assets/file/foto/IMG_3482.JPG
/assets/file/foto/IMG_3484.JPG
/assets/file/foto/IMG_3486.JPG
/assets/file/foto/IMG_3489.JPG
/assets/file/foto/IMG_3490.JPG
/assets/file/foto/IMG_3492.JPG
/assets/file/foto/IMG_3493.JPG
/assets/file/foto/IMG_3495.JPG
/assets/file/foto/IMG_3496.JPG
/assets/file/foto/IMG_3498.JPG
/assets/file/foto/IMG_3499.JPG
/assets/file/foto/IMG_3500.JPG
/assets/file/foto/IMG_3502.JPG
/assets/file/foto/IMG_3503.JPG
/assets/file/foto/IMG_3506.JPG
/assets/file/foto/IMG_3507.JPG
/assets/file/foto/IMG_3508.JPG
/assets/file/foto/IMG_3509.JPG
/assets/file/foto/IMG_3510.JPG
/assets/file/foto/IMG_3515.JPG
/assets/file/foto/IMG_3518.JPG
/assets/file/foto/IMG_3520.JPG
/assets/file/foto/IMG_3529.JPG
/assets/file/foto/IMG_3533.JPG
/assets/file/foto/IMG_3534.JPG
/assets/file/foto/IMG_3535.JPG
/assets/file/foto/IMG_3537.JPG
/assets/file/foto/IMG_3545.JPG
/assets/file/foto/IMG_3546.JPG
/assets/file/foto/IMG_3548.JPG
/assets/file/foto/IMG_3549.JPG
/assets/file/foto/IMG_3550.JPG
/assets/file/foto/IMG_3552.JPG
/assets/file/foto/IMG_5762.JPG
/assets/file/foto/IMG_5885.JPG
/assets/file/foto/IMG_34591.JPG
/assets/file/foto/IMG_34601.JPG
/assets/file/foto/IMG_34621.JPG
/assets/file/foto/IMG_34691.JPG
/assets/file/foto/IMG_34801.JPG
/assets/file/foto/IMG_34951.JPG
/assets/file/foto/IMG_35061.JPG
/assets/file/foto/IMG_35091.JPG
/assets/file/foto/IMG_35151.JPG
/assets/file/foto/IMG_35341.JPG
/assets/file/foto/IMG_35501.JPG
/assets/file/foto/IMG_35521.JPG
/assets/file/foto/IMG_353411.JPG
/assets/file/foto/index.txt
/assets/file/foto/j.jpg
/assets/file/foto/j1.jpg
/assets/file/foto/j2.jpg
/assets/file/foto/j3.jpg
/assets/file/foto/j4.jpg
/assets/file/foto/k.jpg
/assets/file/foto/k1.jpg
/assets/file/foto/k2.jpg
/assets/file/foto/k3.jpg
/assets/file/foto/k4.jpg
/assets/file/foto/k5.jpg
/assets/file/foto/k6.jpg
/assets/file/foto/k7.jpg
/assets/file/foto/k8.jpg
/assets/file/foto/k9.jpg
/assets/file/foto/l.jpg
/assets/file/foto/l1.jpg
/assets/file/foto/l2.jpg
/assets/file/foto/l3.jpg
/assets/file/foto/l4.jpg
/assets/file/foto/l5.jpg
/assets/file/foto/l6.jpg
/assets/file/foto/l7.jpg
/assets/file/foto/l8.jpg
/assets/file/foto/l9.jpg
/assets/file/foto/l10.jpg
/assets/file/foto/l11.jpg
/assets/file/foto/l12.jpg
/assets/file/foto/l13.jpg
/assets/file/foto/l14.jpg
/assets/file/foto/l15.jpg
/assets/file/foto/l16.jpg
/assets/file/foto/m.JPG
/assets/file/foto/m1.JPG
/assets/file/foto/MAS_YASIN_ISENG.jpg
/assets/file/foto/n.JPG
/assets/file/foto/o.JPG
/assets/file/foto/o1.jpg
/assets/file/foto/p.JPG
/assets/file/foto/p1.jpg
/assets/file/foto/p2.jpg
/assets/file/foto/q.jpg
/assets/file/foto/r.JPG
/assets/file/foto/s.jpg
/assets/file/foto/s1.jpg
/assets/file/foto/s2.jpg
/assets/file/foto/s3.jpg
/assets/file/foto/suherman.jpg
/assets/file/foto/suherman1.jpg
/assets/file/foto/suherman2.jpg
/assets/file/foto/suherman21.jpg
/assets/file/foto/Tulips.jpg
/assets/file/foto/Tulips1.jpg
/assets/file/foto/w.jpg
/assets/file/foto/w1.jpg
/assets/file/foto/w2.jpg
/assets/file/foto/w3.jpg
/assets/file/foto/w4.jpg
/assets/file/foto/w5.jpg
/assets/file/foto/x.jpg
/assets/file/foto/y.JPG
/assets/file/foto/YASIN.jpg
/assets/file/foto/YASIN1.jpg
/assets/file/foto/ZAINAL2.jpg
/captcha/*.jpg
